[client]
default-character-set = utf8mb4
port = 3306
socket = /tmp/mysql-5.7.sock

[mysqld]
basedir = /opt/mysql-5.7
bind-address = 127.0.0.1
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
port = 3306
socket = /tmp/mysql-5.7.sock
default-authentication-plugin = mysql_native_password
server-id = 1
